:root {
	--color-bg-search-bar: #e5e5e5;
	--color-bg-body: #f8f9fa;
	--color-side-bar: #0f263d;
	--color-nav-bar: #1b72e8;
}
body{
    font-family: sans-serif; /*cambiare Roboto*/
    background-color: var(--color-bg-body);
}
.my-bg-light-blue{
    background-color: var(--color-nav-bar);
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color:#f8f9fa;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--color-bg-search-bar);
}
main{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}
#sidebar{
    width: 70px;
    height: 100%;
    background-color: #0f263d;
    background-image: url(../img/sidebar-bg.png);
}
#main-content{
    width: calc(100% - 70px);
    overflow-y: auto;
}
#sidebar > div{
    height: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.class-avatar-container{
    width: 20px;
    border-radius: 50%;
    overflow: hidden;

}
img{
    width: 100%;
    display: block;
}

.btn-green{
    background-color: green;
    border: 2px inset transparent;
}
.btn-green:hover{
    background-color: rgb(1, 81, 1);
    border: 2px inset rgb(0, 255, 0);
}

@media screen and (min-width: 768px) {
    #sidebar{
        width: 150px;
    }
    #main-content{
        width: calc(100% - 150px);
        overflow-y: auto;
    }
}